@import url('https://fonts.googleapis.com/css?family=Unica+One');

body{
    background-color: #2E2E2F;
    text-transform: uppercase;
    font-family: 'Unica One', cursive;
}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
#title{
    text-align: center;
    color: white;
    font-size: 25px;
}
.graph{
    min-width: 310px; 
    height: 400px; 
    margin: 0px 30px 0px 20px
}
.summary{
    text-align: center;
    color: grey;
    font-size: 20px;
}