@import url('https://fonts.googleapis.com/css?family=Unica+One');

body{
    background-color: #2E2E2F
}
.summary{
    text-align: center;
    color: white;
    font-family: 'Unica One', cursive;
    text-transform: uppercase;
}