@import url('https://fonts.googleapis.com/css?family=Unica+One');

body{
    background-color: #2E2E2F;
    text-transform: uppercase;
    font-family: 'Unica One', cursive;
}
.summary{
    text-align: center;
    color: grey;
    font-size: 25px;
}